* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  height: 100vh;
  padding: 30px;
}
.item {
  background-color: aliceblue;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: red;
}
.item7 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  background-color: cadetblue;
}
.item11 {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: darkgoldenrod;
}
.item8 {
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: deeppink;
}
.item9 {
  grid-row-start: 4;
  background-color: lawngreen;
}
.item10 {
  grid-row-start: 3;
  background-color: violet;
}
.item12 {
  background-color: slateblue;
}
.item2 {
  background-color: cyan;
}
.item3 {
  background-color: darksalmon;
}
.item4 {
  background-color: forestgreen;
}
.item5 {
  background-color: rgb(88, 242, 142);
}
.item6 {
  background-color: rgb(223, 191, 223);
}
@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .item1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: red;
  }
  .item2 {
    grid-row-start: 2;
  }
  .item3 {
    grid-row-start: 3;
  }
  .item4 {
    grid-row-start: 4;
  }
  .item5 {
    grid-row-start: 5;
  }
  .item6 {
    grid-row-start: 6;
  }
  .item7 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 7;
    background-color: cadetblue;
  }
  .item8 {
    grid-row-start: 8;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: deeppink;
  }
  .item11 {
    grid-row-start: 11;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: darkgoldenrod;
  }
  .item9 {
    grid-row-start: 9;
    background-color: lawngreen;
  }
  .item10 {
    grid-row-start: 10;
    background-color: violet;
  }
  .item12 {
    grid-row-start: 12;
  }
}
